fastapi
uvicorn
python-multipart
sqlalchemy
pydantic
passlib[bcrypt]
python-jose[cryptography]

pdfplumber
PyMuPDF

faiss-cpu
rank-bm25
sentence-transformers
torch
transformers
numpy
scikit-learn

nltk
regex

langchain-community